datauri = http://copyrighttermbank.linkeddata.es/resource
logsfolder = /tmp
datafolder = /opt/apache-tomcat-8.0.12/webapps/data
context = http://copyrighttermbank.linkeddata.es

#datauri = http://localhost:8080/tbx2rdf/resource/iate/
#logsfolder = d:\\logs
#datafolder = D:\\data\\tbx2rdf
#context = /tbx2rdf