<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>RDF TermBank 1.0</display-name>
    <servlet>
        <servlet-name>tbx2rdf</servlet-name>
        <servlet-class>tbx2rdfservice.servlets.Tbx2rdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resource</servlet-name>
        <servlet-class>tbx2rdfservice.servlets.LinkedDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesServlet</servlet-name>
        <servlet-class>tbx2rdfservice.servlets.ServicesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>tbx2rdfservice.servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tbx2rdf</servlet-name>
        <url-pattern>/tbx2rdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resource</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--
    <filter>
        <filter-name>SetCharacterEncoding</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
</web-app>
